<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/bulma.css"></link>
    <link rel="stylesheet" href="/stylesheet/chat_ui.css"></link>
    <script src="/socket.io/socket.io.js"></script>

    <script src="/javascript/chat.js"> </script>

  </head>

<body>
  <nav class="nav has-shadow hero is-medium is-primary is-bold">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">
          <img src="/resources/chat_social.png">
        </a>
        <a class="nav-item is-tab"><i class="fa fa-bell-o"></i> &nbsp; Notifications</a>
      </div>

      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>

      <div class="nav-right nav-menu">
        <span class="nav-item">
          <div class = "field is-grouped">
            <p class="control">
              <a class="button is-info" >
                <span class="icon">
                  <i class="fa fa-user"></i>
                </span>
                <span><%= userName %></span>
             </a>
           </p>
           <p class="control">
             <button class="button is-info modal-toggle" id="displayModal" onclick='showModal("displayModal")'>CreateRoom</button>
             <!--Modal Start-->
             <div id = "modal_newRoom" class= "modal" >
               <div class= "modal-background"></div>
               <div class="modal-card">
                 <header class="modal-card-head">
                   <p class="modal-card-title is-info">Create New Group</p>
                   <button class="modal-close" onclick='closeModal("delete")' id="delete"></button>
                 </header>
                 <section class="modal-card-body">
                   <!-- Content ... -->
                   <!-- Group Name Start-->
                   <div class="columns">
                     <div class="column is-3">
                       <span class="tag is-medium is-light">Group Name</span>
                     </div>
                     <div class="column is-8">
                       <div class="field">
                         <p class="control">
                           <input class="input is-focused" type="text" placeholder="Group Name" id="groupName">
                         </p>
                       </div>
                     </div>
                   </div>
                   <!-- Group Name End-->
                   <!-- Select Users Start-->
                   <div class="columns">
                     <div class="column is-3">
                       <span class="tag is-medium is-light">Select users</span>
                     </div>
                     <div class="column is-8">
                       <div class="field">
                         <p class="control">
                           <span class="select">
                             <select onchange="addToTextBox(this)" id = "userList">
                               <% for(let user of users) {%>
                                 <option value="<%= user.userName%>"><%= user.userName%></option>
                               <% } %>
                             </select>
                           </span>
                         </p>
                       </div>
                     </div>
                   </div>
                   <!-- Select Users End-->
                   <div class="columns">
                     <div class="column is-3">
                       <span class="tag is-medium is-light">Users added</span>
                     </div>
                     <div class="column is-8">
                       <div class="field">
                         <p class="control">
                           <input class="input" type="text" placeholder="Users added" id="usersAdded">
                         </p>
                       </div>
                     </div>
                   </div>
                 </section>
                 <footer class="modal-card-foot">
                   <p class="control">
                     <button class="button is-success" onclick='createGroup()' id="Create">Create Group</button>
                   </p>
                 </footer>
               </div>
             </div>
             <!--Modal End-->
           </p>
         </div>
        </span>
      </div>
    </div>
  </nav>

  <section class="section main">
    <div class="container">
      <div class="columns">
        <div class="column is-3">
          <!--Logged-in User Details Start-->
          <div class="card">
            <header class="card-header">
            </header>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4"><%= userName %></p>
                  <p class="subtitle is-6"><%= userName %></p>
                </div>
              </div>

              <div class="columns">
                <div class="column is-9">
                  <span class="tag">Groups Joined</span>
                </div>
                <div class="column is-3">
                  <span class="tag is-info">3</span>
                </div>
              </div>
            </div>
          </div>
          <!--Logged-in User details End-->

          <!-- List of Users in current room Start-->
          <div class="spacer-vertical"></div>
          <div class="box members">
            <p class="members-title"><span class="tag title is-5">Members</span></p>
            <div id = "defaultActiveUsers"></div>
            <div id = "room1ActiveUsers"></div>
            <div id = "room2ActiveUsers"></div>
          </div>
          <!-- List of Users in current room End-->
        </div>

        <!-- Message Pannel Start -->
        <div class="column is-6">
          <div class="box">
            <div id = "defaultRoomContent">Default Room Content</div>
            <div id = "room1Content">Room1 Content</div>
            <div id = "room2Content">Room2 Content</div>
        </div>
      </div>
        <!-- Message Pannel End -->

        <!-- Rooms to join Start-->
        <div class="column is-3">
          <div class="box">
            <p><span class="title is-5 tag"> Groups to join</span></p>
            <hr>
            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="http://bulma.io/images/placeholders/96x96.png">
                </div>
              </div>
              <div class="column is-6">
                <p>
                  <strong>Group2</strong>
                </p>
              </div>
              <div class="column is-3">
                  <button class="button is-active is-primary join" value="Group1" onclick= 'joinRoom("Room1")'>
                    <span class="icon is-small">
                      <i class="fa fa-plus-square"></i>
                    </span>
                  </button>
              </div>
            </div>

            <div class="columns">
              <div class="column is-3 is-marginless">
                <div class="image">
                  <img src="http://bulma.io/images/placeholders/96x96.png">
                </div>
              </div>
              <div class="column is-6">
                <p>
                  <strong>Group3</strong>
                </p>
              </div>
              <div class="column is-3">
                  <button class="button is-active is-primary join" value="Group2" onclick= 'joinRoom("Room2")'>
                    <span class="icon is-small">
                      <i class="fa fa-plus-square"></i>
                    </span>
                  </button>
              </div>
            </div>
          </div>
        <!-- Rooms to join End-->

        <!-- Already joined Rooms Start-->
        <div class="spacer-vertical"></div>
        <div class="box members" id="alreadyJoined">
            <p><span class="title is-5 tag"> Groups part of</span></p>
            <hr>
        </div>
        <!-- Already Joined Rooms End -->
      </div>
    </div>
      <!-- End of Row 1-->
      <!-- Start of Row2 for msg entry -->
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <div class="field has-addons">
            <p class="control is-expanded">
              <input class="input" id="data" type="text" autocomplete="off" placeholder="Enter your message">
            </p>
            <button class="button is-active is-info" id="send">
              <span class="icon is-small ">
                <i class="fa fa-send"></i>
              </span>
            </button>
          </div>
        </div>
      <!-- End of Row2 for msg entry -->
      </div>
    </div>
  </section>


</body>
</html>
